$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Kaushan Script', cursive;
$third-font: 'Roboto', sans-serif;

$primary-color: white;
$secondary-color: black;
$third-color: #95e1d3;
$fourth-color: #f38181;
$fifth-color: #999999;
$sixth-color: rgb(251,227,137);