body {
    background-color: $primary-color;
    max-width: 1366px;
    width: 100%;
    position: relative;
}

//area where the site content rests
.page-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}