/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

html, body {
  position: relative;
  height: 100%;
}

:focus {
  outline: none;
}

body {
  background-color: white;
  max-width: 1366px;
  width: 100%;
  position: relative;
}

.page-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.header-nav-container {
  position: fixed;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  left: 0;
  right: 0;
  padding-top: 25px;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  z-index: 1000;
}

.header-nav-container .header-nav-left a {
  font-weight: 700;
  font-size: 30px;
  color: white;
}

.header-nav-container .header-nav-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}

.header-nav-container .header-nav-right ul li:nth-child(-n+5):hover a {
  color: #fbe389;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  border-bottom: 2px solid #fbe389;
  padding-bottom: 5px;
}

.header-nav-container .header-nav-right ul li a {
  margin-left: 40px;
  color: white;
}

.hero {
  width: 100%;
  position: relative;
}

.hero .hero-content {
  text-align: center;
  position: absolute;
  top: 140px;
  z-index: 500;
  max-width: 1200px;
  width: 70%;
  margin: auto;
  left: 0;
  right: 0;
}

.hero .hero-content p {
  color: white;
  font-family: "Kaushan Script", cursive;
  font-size: 72px;
  padding-bottom: 25px;
}

.hero .hero-content h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 130px;
  font-weight: 700;
}

.hero .hero-content h1:after {
  content: '';
  position: absolute;
  display: block;
  top: 70%;
  height: 3px;
  width: 60px;
  background: white;
  left: 50%;
  z-index: 500;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hero .hero-content button {
  font-family: "Montserrat", sans-serif;
  border: 3px solid white;
  background-color: rgba(251, 227, 137, 0);
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 80px;
  padding: 10px 30px;
  cursor: pointer;
}

.hero .hero-content button a {
  color: white;
}

.hero .hero-content .hero-footer-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}

.hero .hero-content .hero-footer-slider div a {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.hero .hero-content .hero-footer-slider div a span {
  font-weight: 700;
}

.hero .hero-content .hero-footer-slider .inactive, .hero .hero-content .hero-footer-slider .active {
  position: relative;
  width: 20%;
  text-align: left;
  border-top: 3px solid white;
  padding-top: 15px;
}

.hero .hero-content .hero-footer-slider .active::before {
  content: '';
  position: absolute;
  display: block;
  height: 3px;
  width: 60px;
  top: -10%;
  background: #f38181;
  z-index: 500;
}

.hero .hero-slider div:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(251, 227, 137, 0.8)), to(rgba(243, 138, 129, 0.6)));
  background: linear-gradient(0deg, rgba(251, 227, 137, 0.8) 0%, rgba(243, 138, 129, 0.6) 100%);
}

.section-title {
  text-align: center;
  margin: 0 auto;
  padding: 80px 0 50px 0;
}

.section-title::after {
  content: '';
  position: absolute;
  display: block;
  height: 3px;
  width: 60px;
  background: #f38181;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section-title h2 {
  font-family: "Kaushan Script", cursive;
  color: #333333;
  font-size: 24px;
  padding-bottom: 25px;
}

.section-title h3 {
  font-family: "Montserrat", sans-serif;
  color: #333333;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 25px;
}

.section-para {
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-family: "Roboto", sans-serif;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.about-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 80px;
}

.about-images .image-container {
  position: relative;
}

.about-images .image-container .image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(251, 227, 137, 0.9)), to(rgba(243, 138, 129, 0.8)));
  background: linear-gradient(0deg, rgba(251, 227, 137, 0.9) 0%, rgba(243, 138, 129, 0.8) 100%);
}

.about-images .image-container .image-overlay:hover {
  opacity: 1;
  -webkit-box-shadow: 7px 7px #95e1d3;
          box-shadow: 7px 7px #95e1d3;
}

.about-images .image-container .image-overlay .image-overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.about-images .image-container .image-overlay .image-overlay-content span {
  font-size: 24px;
  color: white;
}

.about-images .image-container .image-overlay .image-overlay-content p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding-top: 5px;
}

.facts {
  width: 100%;
  background-color: #95e1d3;
  height: 265px;
}

.facts ul {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-size: 0;
}

.facts ul li {
  display: inline-block;
  width: 20%;
}

.facts ul li .numbers {
  font-size: 72px;
  font-weight: 700;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 100px 0 30px 0;
}

.facts ul li .text {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding: 0;
}

.services-first-row, .services-second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  padding: 50px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-first-row .services-item, .services-second-row .services-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
}

.services-first-row .services-item .services-image, .services-second-row .services-item .services-image {
  color: #95e1d3;
  font-size: 32px;
}

.services-first-row .services-item .services-content, .services-second-row .services-item .services-content {
  text-align: left;
  padding-left: 15px;
}

.services-first-row .services-item .services-content h4, .services-second-row .services-item .services-content h4 {
  padding-bottom: 10px;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.services-first-row .services-item .services-content p, .services-second-row .services-item .services-content p {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
}

.services-second-row {
  border-bottom: none;
}

.feature {
  width: 100%;
  padding-bottom: 50px;
}

.feature .section-title {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

.feature .feature-bg-image1 img {
  opacity: 0.15;
}

.feature .feature-images {
  position: relative;
}

.feature .feature-images .feature-image2 {
  position: absolute;
  top: -507px;
  left: 410px;
  z-index: 1;
}

.feature .feature-images .feature-image3 {
  position: absolute;
  z-index: 2;
  top: -350px;
  left: 740px;
}

.whatwedo {
  padding: 40px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.whatwedo .whatwedo-image {
  margin-right: 25px;
}

.whatwedo .whatwedo-accordion {
  width: 48%;
}

.whatwedo .whatwedo-accordion .accordion-service-item {
  margin-bottom: 15px;
}

.whatwedo .whatwedo-accordion .accordion-service-item .accordion-service-title {
  border: 1px solid #e5e5e5;
  padding-left: 15px;
  line-height: 53px;
  position: relative;
}

.whatwedo .whatwedo-accordion .accordion-service-item .accordion-service-title span {
  color: #95e1d3;
  font-size: 30px;
  padding-right: 15px;
  vertical-align: middle;
}

.whatwedo .whatwedo-accordion .accordion-service-item .accordion-service-title .service-name {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.whatwedo .whatwedo-accordion .accordion-service-item .accordion-service-title .icon-keyboard_arrow_down {
  position: absolute;
  right: 0%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.whatwedo .whatwedo-accordion .accordion-service-item .accordion-service-title .icon-keyboard_arrow_up {
  display: none;
}

.whatwedo .whatwedo-accordion .accordion-service-item .accordion-service-description {
  display: none;
  font-family: "Roboto", sans-serif;
  color: #999999;
  font-size: 15px;
  font-style: italic;
  height: 181px;
  overflow: auto;
  line-height: 24px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px;
}
/*# sourceMappingURL=main.css.map */